body {
    box-sizing: border-box;
    border: none;
    margin: 0px auto;
    height: 100%
}

header {
    margin-left: 200px;
    height: 18%;
    background-color: #5AC6C6;
    box-sizing: border-box;
    padding-left: 15px;
}

.topnav {

    background-color: rgb(48, 56, 56);
    color: white;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: darkgray;
    color: white;
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
}
.sidebar a{
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}
.sidebar a:hover {
    background-color: #ddd;
    color: black;
}

.sidebar img {
    width: inherit;
}

.sidebar h5 {
    font-size: 25px;
}

.sidebar li {
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.main {
    background-color: rgb(146, 146, 153);
    height: 100%;
    margin-left: 200px;
    padding: 15px;
}

.footer {
    position: fixed;
    z-index: 1;
    padding: 20px;
    height: 2%;
    width: 100%;
    background-color: rgb(48, 56, 56);
    color: blanchedalmond;
    bottom: 0;
    padding-left: 250px;
}

.footer a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

.footer a:hover {
    background-color: #ddd;
    color: black;
}

* {
    box-sizing: border-box ;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.zoomGIF {
    padding: 5px;
    transition: transform .2s;
    margin: 0 auto;
    display: block;
    width: 50%;
}
.zoomGIF:hover {
    -ms-transform: scale(1.5);
    -webkit-transform:  scale(1.5);
    transform: scale(1.5);
}
.zoom:hover  {
    -ms-transform: scale(1.5);
    -webkit-transform:  scale(1.5);
    transform: scale(1.5);
}