* {
    box-sizing: border-box
}
#main {
    width: 100%;
    padding-left: 2cm;
    padding-top: 1cm;
}
.font {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 23px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.dark-content {
    color: #1E1E24
}
.dark-section {
    background-color: #1E1E24
}
.lavender-content {
    color: #A288A6
}
.lavender-section {
    background-color: #A288A6
}
.beige-content {
    color: #CEBDAC
}
.beige-section {
    background-color: #CEBDAC
}
.lightcyan-content {
    color: #97BCAE
}
.lightcyan-section {
    background-color: #97BCAE
}
.cyan-content {
    color: #49B291
}
.cyan-section {
    background-color: #49B291
}