* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    margin: 0px;
}
.head {
    box-sizing: border-box;
    padding-top: 5mm;
    padding-bottom: 5mm;
    font-size: 1cm;
    text-align: center;
    height: 100%;
}
#header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 3cm 25% auto 20%;
    grid-gap: 1mm;
    background-color: lightblue;
    padding: 3mm;
}
#grid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 3cm 25% auto 20%;
    grid-gap: 1mm;
    background-color: lightblue;
    padding: 3mm;
}
.coppypasta {
    min-height: 1.2cm;
    border: lightblue solid 1px;
    text-align: center;
    padding-left: 1mm;
    padding-right: 1mm;
    background-color: white;
    overflow: hidden;
}