<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
      />
      <!-- <link rel="stylesheet" href="kLaus.css"> -->
    <link rel="stylesheet" href="allCards.css">
    <title>All Oblique Strategies</title>
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbalken">
    <a class="navbar-brand" href="#">FIAN19-II</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html" tabindex="-1">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#challenges" tabindex="-1"
              >Challenges</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#bountyboard" tabindex="-1"
              >Bounty Board</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blog" tabindex="-1">Blog</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Oblique Strategies<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbalken" style="top: 1.5cm; z-index: 3;">
      <div onclick="filterlist()" style="width: 4cm; height: 1cm; background-color: white; text-align: center; padding: 1.5mm;">
        <div id="Kategoriefeld">Alle Kategorien</div>
      </div>
      
    </nav>
    <!-- App wird über vue.js in index.js kontrolliert -->
    <div id="app">
      <div hidden='true' id="Kategorieliste" style="position: fixed; height: 4cm; width: 4cm; background-color: white; top: 2.9cm; left: 4mm; overflow: auto; z-index: 6;">
        <div v-on:click="filtriere('Alle Kategorien')">Alle Kategorien</div>
        <div v-on:click="filtriere('Growth')">Growth</div>
        <div v-on:click="filtriere('New Perspective')">New Perspective</div>
        <div v-on:click="filtriere('Programming')">Programming</div>
        <div v-on:click="filtriere('Philosophical')">Philosophical</div>
        <div v-on:click="filtriere('Self-Care')">Self-Care</div>
        <div v-on:click="filtriere('Self-Confidence')">Self-Confidence</div>
        <div v-on:click="filtriere('Technology')">Technology</div>
      </div>
      <div v-bind:conditionaltrigger="conditionaltrigger" v-if="!conditionaltrigger" class="grid-container">
        <o-card  v-bind:strategy="strategy" v-for="strategy in strategies" />
      </div>
      <div v-bind:conditionaltrigger="conditionaltrigger" v-else-if="conditionaltrigger" class="grid-container container-fluid" style="display:block;">
        <ocardid  v-bind:stratprop="stratprop" />
      </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" integrity="sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>
<!--   -->
<!-- <script src="cardClone.js"></script> -->
</html>