doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title FIAN19-II
  // Bootstrap core CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    main {
    margin-top: 60px;
    border-top-width: 40px;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
header
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='#') FIAN19-II
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item
          a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
      form.form-inline.mt-2.mt-md-0
        input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit')
          | Search
main(role='main')
  //
    Marketing messaging and featurettes
    ==================================================
  // Wrap the rest of the page in another container to center all the content.
  .container.marketing
    // Three columns of text below the carousel
    .row
      .col-4
        svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 140x140')
          title Placeholder
          rect(width='100%' height='100%' fill='#777')
          a(href='19zechprofil.html')
            image(href='img/cat.png' x='0' y='0' height='100%' width='100%')
        h2 Ausbilder
        p
          a.btn.btn-secondary(href='#' role='button') View details &raquo;
      // /.col-4
      .col-4
        svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 140x140')
          title Placeholder
          rect(width='100%' height='100%' fill='#777')
          text(x='50%' y='50%' fill='#777' dy='.3em') 140x140
          a(href='19zechprofil.html')
            image(href='img/bp_me.png' x='0' y='0' height='100%' width='100%')
        h2 TN1
        p
          | Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
          | eget lacinia odio sem nec elit. Cras mattis consectetur purus sit
          | amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
          | mauris condimentum nibh.
        p
          a.btn.btn-secondary(href='#' role='button') View details &raquo;
      // /.col-4
      .col-4
        svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 140x140')
          title Placeholder
          rect(width='100%' height='100%' fill='#777')
          text(x='50%' y='50%' fill='#777' dy='.3em') 140x140
          a(href='19zechprofil.html')
            image(href='img/fox.jpg' x='0' y='0' height='100%' width='100%')
        h2 Heading 3
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
          | egestas eget quam. Vestibulum id ligula porta felis euismod
          | semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          | condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-secondary(href='#' role='button') View details &raquo;
      // /.col-4
      .col-4
        svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 140x140')
          title Placeholder
          rect(width='100%' height='100%' fill='#777')
          text(x='50%' y='50%' fill='#777' dy='.3em') 140x140
        h2 Heading 3
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
          | egestas eget quam. Vestibulum id ligula porta felis euismod
          | semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          | condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-secondary(href='#' role='button') View details &raquo;
      // /.col-4
      .col-4
        svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 140x140')
          title Placeholder
          rect(width='100%' height='100%' fill='#777')
          text(x='50%' y='50%' fill='#777' dy='.3em') 140x140
        h2 Heading 3
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
          | egestas eget quam. Vestibulum id ligula porta felis euismod
          | semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          | condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-secondary(href='#' role='button') View details &raquo;
      // /.col-4
      .col-4
        svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 140x140')
          title Placeholder
          rect(width='100%' height='100%' fill='#777')
          text(x='50%' y='50%' fill='#777' dy='.3em') 140x140
        h2 Heading 3
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
          | egestas eget quam. Vestibulum id ligula porta felis euismod
          | semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          | condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-secondary(href='#' role='button') View details &raquo;
      // /.col-4
    // /.row
    // START THE FEATURETTES
    hr.featurette-divider
    hr.featurette-divider
    // /END THE FEATURETTES
  // /.container
  // FOOTER
  footer.container
    p.float-right
      a(href='#') Back to top
    p
      | &copy; 2017-2019 Company, Inc. &middot;
      a(href='#') Privacy
      |  &middot; 
      a(href='#') Terms
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
