#jumbo {
    padding: 10px;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    height: 350px;
    width: 50%;
    background: #ffffff;
    box-shadow: 5px 10px 20px darkgray;
    border-radius: 25px;

}

#body {
    background-color: #bfe5d9;
}


.grid-container {

    display: grid;
    grid-template-columns: 350px auto 150px;
    grid-template-rows: 50px 210px 50px;

}

.grid-item4 {
    grid-area: 2 / 1 / 3 / 4;
    text-align: center;
    padding-top: 5%;
    font-family: "Courier New", Courier, monospace;
    color: #333333;
    font-size: 25px;
}
.grid-item5{
    font-family: "Courier New", Courier, monospace;
    color: #333333;
}

.grid-item7 {
    scale: 20%;
    padding: 0%;
}

.refreshIcon {
    height: 40px;
    width: 40px;
}

.timerIcon {
    height: 30px;
    width: 30px;
    float: right;
}

.item-upvote {
    padding-left: 200%;
    padding-bottom: 10px;

}

.item-downvote {
    padding-left: 200%;

}