#content{
  padding-top: 30px;
}

#autoRefresh{
 width: 35px;
 height: 35px;
}

#refresh{
  width: 35px;
  height: 35px;
  float: right;
}


#upvote{
  margin-left: 50%;
  width: 25px;
  height: 25px;
}

#downvote{ 
  margin-left: 50%;
  width: 25px;
  height: 25px;

}

#jumbo{
  min-height: 400px;
}

#linie{
  background-color: white;
}