* {
    box-sizing: border-box;
    margin: 0;
}
body {
    box-sizing: border-box;
    background-color: #BFE5D9;
    border: none;
    margin: auto;
    height: 100%
}
#content {
    margin-left: 4%;
    margin-right: 0;
    text-align: center;
}
#category {
    position: fixed;
    top: 8.5cm;
    left: 40%;
    font-family: "Courier New", Courier, monospace;
    color: #333333;
    
}
.refreshIcon {
    height: 40px;
    width: 40px;
}
.timerIcon {
    height: 30px;
    width: 30px; 
}
.arrows {
    height: 20px;
    width: 20px;
}

table {
    border-radius: 25px;
    background: #ffffff;
    padding: 10px; 
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    text-align: center;
    box-shadow: 5px 10px 20px darkgray;
  }