#autoRefresh{
 width: 35px;
 height: 35px;
}

.refreshIcon{
  width: 35px;
  height: 35px;
}

#upvote{
  width: 25px;
  height: 25px;
}

#downvote{
width: 25px;
height: 25px;

}

#jumbo{
  min-height: 400px;
}

#linie{
  background-color: white;
}