body {
    box-sizing: border-box;
    background-color: #EAEBFF;
    border: none;
    margin: 0px auto;
    height: 100%
}

header {
    margin-left: 200px;
    height: 18%;
    background-color: #5AC6C6;
    box-sizing: border-box;
    padding-left: 15px;
}

div {
    min-height: 15px;
    max-height: 150px;
    overflow: hidden;
    width: 15%;
    background-color: #5AC6C6;
}

ul {
    display: true;
    overflow: hidden;
    background-color: #A3E7D6;
    margin: 0px;
}

.topnav {

    background-color: #5AC6C6;
    color: #A3E7D6;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: darkgray;
    color: white;
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #42ABC5;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
}
.sidebar a{
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 14px;
}
.sidebar a:hover {
    background-color: #ddd;
    color: black;
}

.sidebar img {
    width: inherit;
}

.sidebar h5 {
    font-size: 20px;
}

.sidebar li {
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.main {
    z-index: 1;
    background-color: #EAEBFF;
    height: 100%;
    margin-left: 200px;
    padding: 15px;
    position: relative;
}

.footer {
    z-index: 0;
    position: relative;
    padding: 20px;
    height: 2%;
    width: auto;
    background-color: #42ABC5;
    color: blanchedalmond;
    bottom: 1;
    padding-left: 215px;
}

.footer a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

.footer a:hover {
    background-color: #ddd;
    color: black;
}

.harmonylogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 2%;
}

.zoomLogo {
    padding: 50px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 2%;
}
  
  .zoomLogo:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.buttonGray {
    background-color: #e7e7e7; 
    color: black;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonGreen {
    background-color: #4CAF50;
    border-radius: 2px ;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonRed {
    background-color: #f44336;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonGreen:hover {
    background-color: #4CAF50; 
    color: white;
}

.buttonRed:hover {
    background-color: rgb(255, 0, 0); 
    color: white;
}

.buttonGray:hover {
    background-color: gray;
    color: white;
}

.inputCalc {
    background-color: rgb(75, 74, 74);
    padding: 15px 32px;
    font-size: medium;
    text-align: right; 
    width: 81%;
    color: white;
}

.calc {
    background-color: silver;
    border: 1px solid black;
}

.footerCalc {
    z-index: 0;
    position: fixed;
    padding: 20px;
    height: 2%;
    width: 100%;
    background-color: #42ABC5;
    color: blanchedalmond;
    bottom: 0;
    padding-left: 215px;
}

.footerCalc a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

.footerCalc a:hover {
    background-color: #ddd;
    color: black;
}

.transition {
    border: 1px solid black;
    background-color: lightblue;
    width: 270px;
    height: 200px;
    overflow: auto;
  }

.transition .two {
    border: 3px solid black;
    background-color: orange;
    width: 500px;
    height: 300px;
    overflow: auto;
  }