html {
    height: 90%;
}
body {
    height: 100%;
    margin: 3%;
    background-color: rgb(192, 181, 29);
    box-shadow: 1px 20px 50px black;
}

ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkmagenta;
}

li {
    float: left;
}

li a {
    display: block;
    color: tomato;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: yellow;
}

header {
    float: right;
    width: 76%;
    font-style: italic;
    font-size: 20px;
    color: rgb(217, 255, 0);
    text-align: center;
}

section{
    background-color: gold;
    width: 20%;
    padding: 2%;
    height: 89%;
    float: left;
}

img{
    background-color: greenyellow;
    padding: 5%;
}

aside{
    background-color: hotpink;
    width: 76%;
    height: 600px;
    float: right;
    text-align: right;
}

footer {
    background-color: firebrick;
    text-align: center;
    width: 100%;
}